%div{'data-controller': @preview ? "barcode-preview" : ""}
  = simple_form_for @loyalty_card do |f|
    = f.input :code
    = f.input :barcode_type, include_blank: false, input_html: {'data-barcode-preview-target': 'input'}
    %button.text.mt-2(type="submit" name="commit" value="preview")
      = t('.help_choose')
    = f.input :store

    .form-actions
      = f.submit

  - if @preview
    = render partial: 'barcode_preview_modal', locals: {object: @loyalty_card}
