.rounded.bg-white.dark:bg-dark-white.shadow.flex.flex-col.md:flex-row
  - if loyalty_card.badge.attached?
    .p-4.justify-center.md:max-w-xs
      = image_tag loyalty_card.badge

  .flex.justify-between.w-full.p-4.pr-1
    %div
      - if loyalty_card.store.present?
        .text-grey-foreground.dark:text-dark-grey-foreground.text-sm.uppercase.font-bold.pb-4= loyalty_card.store

      .font-bold.text-lg= loyalty_card.code

    .text-grey-foreground.dark:text-dark-grey-foreground.self-center
      = link_to loyalty_card, class: 'block p-2 hover:rounded-full hover:bg-grey-background dark:hover:bg-dark-grey-background' do
        = heroicon 'chevron-right', options: {class: 'w-6 h-6'}
