%div{'data-controller': @preview ? "barcode-preview barcode-scanner" : "barcode-scanner", 'data-barcode-scanner-barcode-url-value': barcodes_path}
  = simple_form_for @coupon do |f|
    = f.input :badge
    = f.input :code
    %button.text.mt-2(type="button" data-action="barcode-scanner#activate")
      = t('.scan')
    = f.input :barcode_type, include_blank: false, input_html: {'data-barcode-preview-target': 'input'}
    %button.text.mt-2(type="submit" name="commit" value="preview")
      = t('.help_choose')
    = f.input :store
    = f.input :description
    = f.input :valid_until, html5: true

    .form-actions
      = f.submit

  - if @preview
    = render partial: 'barcode_preview_modal', locals: {object: @coupon}

  = render BarcodeScannerComponent.new
