#user-menu
  %ul.flex.items-center(style="grid-area: menu")
    %li= link_to t('navigation.coupons'), coupons_path, class: class_names(active: params[:controller] == 'coupons')
    %li= link_to t('navigation.loyalty_cards'), loyalty_cards_path, class: class_names(active: params[:controller] == 'loyalty_cards')

  = render 'search'

  %ul.flex.items-center.justify-center(style="grid-area: user")
    %li
      = link_to user_path, title: t('navigation.account') do
        = heroicon :user, options: {class: 'w-6 h-6'}
