!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Coupon store
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_importmap_tags
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
  %body.flex.flex-col.justify-between.h-screen{class: page_classes}
    %div
      %header
        %nav.bg-primary
          - if current_user.present?
            = render 'user_menu'
          - else
            = render 'guest_menu'

      %main{class: body_classes}
        = yield

    - if content_for? :footer
      = yield :footer
    - else
      %footer.bg-grey-background.dark:bg-dark-grey-background.p-4
        .flex.gap-5.items-center
          = external_link_to '', 'https://github.com/metikular/coupon-store' do
            = image_tag 'github.png', title: t('footer.open_source')
          = external_link_to '', 'https://metikular.ch' do
            = image_tag 'metikular.svg', title: t('footer.made_by_metikular')

          - if lookup_context.exists?('data_privacy', 'pages')
            .pl-3.text-xs.text-grey-foreground.dark:text-dark-grey-foreground
              = link_to t('footer.data_privacy'), page_path(:data_privacy)
